<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    
    
    <title>InDSS CARS - Car Rental HTML Template</title>

    

    {% load static %}
    <link href="{% static 'img/favicon.png' %}" rel="icon">
    
    </head>
    <body onload="click()">
        <form action="{% url 'booking' %}" method="post">
            {% csrf_token %}
            <input  class="button" id="input" type="submit" name="carSelect" value="{{carS}}">Click en el numero para redireccionar
        </form>
        
    </body>
       <!--JavaScript propio-->
    {% load static %}
    <script src="{% static 'js/clickCar.js' %}"></script>

     
    

</html>